src/main/resources/static/xsd/payment.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://sathishk.org/payments"
            elementFormDefault="qualified">

    <xsd:complexType name="payment">
        <xsd:sequence>
            <xsd:element name="name"   type="xsd:string"/>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="city"   type="xsd:string"/>
            <xsd:element name="state"  type="xsd:string"/>
            <xsd:element name="zip"    type="xsd:integer"/>
            <xsd:element name="salary" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>